.qizil {
    border: 1px solid black;
    background-color: red;
    max-width: 150px;
    border-radius: 10px;
    text-align: center;
}
.yashil {
    border: 1px solid black;
    background-color: green;
    max-width: 150px;
    border-radius: 10px;
    text-align: center;
}
.kok {
    border: 1px solid black;
    background-color: rgb(75, 75, 244);
    max-width: 150px;
    border-radius: 10px;
    text-align: center;
}
.sariq {
    border: 1px solid black;
    background-color: yellow;
    max-width: 150px;
    border-radius: 10px;
    text-align: center;
}