.mamlakats {
    border: 1px solid black;
    max-width: 600px;
}

.mamlakats li span {
    font-size: 25px;
    font-family: serif;
}

.mamlakats li {
    border: 2px solid black;
    text-align: center;
    transition: 0.4s;
}
.mamlakats li:hover {
    background-color: aquamarine;
}